{% load compress %}
{% load static %}
<!doctype html>
<html>
  <head>
    {% block css %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
      {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'css/es-common.scss' %}" rel="stylesheet" media="screen">
      {% endcompress %}    
    {% endblock css %}
    {% block js %}
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    {% endblock js %}
  </head>
  <body>

    {% block nav %}
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">es-example-django</a>
        <form class="d-flex">
          {% if user.is_authenticated %}
            <b class="me-2"><a href="{% url 'user-home' %}">{{ user }}</a></b>
            <a href="{% url 'user-logout' %}">Logout</a>
          {% else %}
            <div class="popup-help">
              <a href="{% url 'user-login' %}">Login</a>
              <div class="popup card">
                Login through vouch-proxy
              </div>
            </div>
          {% endif %}
        </form>
      </div>
    </nav>    
    {% endblock nav %}

    {% block body %}
    <div class="px-2 py-1">
        {% block content %}

        {% endblock content %}
    </div>
    {% endblock body %}
  </body>
</html>